<include file="bbs/Home/View/header.html"/>


	<div id="box">
		<div id="left" class="fl">
			<div><img src="__PUBLIC__/images/lefttop.gif"/></div>
			<div class="left_content">
				<h2 class="title1"><span class="STYLE3">常见</span><span class="STYLE2">问题</span></h2>
				<h3 class="title2">热点问题</h3>
				<ul class="links">
﻿<ul>
<li><a href="http://www.itcast.cn/news/b391b18e/f306/44ab/aea2/649d74354f91.shtml" target="_blank">上课是全天授课吗？每天的上课时间安排？</a> 2012.06.05</li>
<li><a href="http://www.itcast.cn/news/594de13e/b59a/467b/973c/a8ffdeda3625.shtml" target="_blank">传智播客上课是放视频吗？</a> 2012.06.05</li>
<li><a href="http://www.itcast.cn/news/c9782dea/2c1a/413b/9be9/d40c54f15520.shtml" target="_blank">传智网站发布的视频我看就很多了，那看完这些后还有必要去参加面授培训吗？</a> 2012.06.05</li>
<li><a href="http://www.itcast.cn/news/17dd6595/d6b5/40d4/919b/f35c421bcc94.shtml" target="_blank">可以试听几天吗？收费吗？</a> 2012.06.05</li>

</ul>
 
				</ul>
				<h3 class="title2">PHP相关问题</h3>
				<ul class="links">
<ul>

<li><a href="http://php.itcast.cn/news/20130409/14580258105.shtml" target="_blank">基础班学完以后可以做什么?</a></li>
<li><a href="http://php.itcast.cn/news/20130409/15001772469.shtml" target="_blank">学php需要具备哪些条件？</a></li>
<li><a href="http://php.itcast.cn/news/20130409/15025732993.shtml" target="_blank">php入门简单是不是后期学习难？</a></li>
</ul>

			    </ul>
			</div>
			<div><img src="__PUBLIC__/images/leftbottom.gif"/></div>
		</div>		
		<div id="right" class="fl">
			<h4 class="righttitle1"><span class="fl">PHP视频下载</span><span class="fr"><a href="/php/video.shtml">+MORE</a></span></h4>
			<ul class="rightkuang">
			<ul>
<li><a href="http://net.itcast.cn/news/00666f00/c4c5/4aad/99e1/45f6673f7a31.shtml" target="_blank">C#编程基础视频教程</a></li>
<li><a href="http://net.itcast.cn/news/770b900e/fcd4/4f10/bb25/bb0e99f0ab92.shtml" target="_blank">C#面向对象基础视频教程 </a></li>
<li><a href="http://net.itcast.cn/news/047a81e7/616f/44fa/b103/2c38e5b51b48.shtml" target="_blank">wpf基础视频教程 </a></li>
<li><a href="http://net.itcast.cn/news/4048960e/9f6f/4d71/8da4/07639e2bef0b.shtml" target="_blank">数据绑定和数据库开发基础 </a></li>
<li><a href="http://net.itcast.cn/news/c804d7df/95b0/4e78/9505/7f6157220e59.shtml" target="_blank">Ado.Net项目开发教程 </a></li>
<li><a href="http://net.itcast.cn/news/509b1bc4/5afc/4fe4/adf4/3757fc78b70c.shtml" target="_blank">HTML教程 </a></li>
<li><a href="http://net.itcast.cn/news/bd4612c7/a940/4585/9153/487bbcc7fcd3.shtml" target="_blank">JavaScript教程</a></li>
<li><a href="http://net.itcast.cn/news/68ac18e3/f435/45e8/999f/db6f32f9aeac.shtml" target="_blank">Dom教程</a></li>
<li><a href="http://net.itcast.cn/subject/tegongnet/index.html" target="_blank">特供ASP.Net视频教程 </a></li>
<li><a href="http://bbs.itcast.cn/thread-11528-1-1.html" target="_blank">Linux下运行ASP.Net网站(Mono)视频教程</a></li>
<li><a href="http://bbs.itcast.cn/thread-11130-1-1.html" target="_blank">写程序自动识别验证码视频教程</a></li>
<li><a href="http://bbs.itcast.cn/thread-14836-1-1.html" target="_blank">大型互联网技术Memcached视频教程</a></li>
<li><a href="http://bbs.itcast.cn/thread-15261-1-1.html" target="_blank">ASP.Net MVC入门视频教程</a></li>
<li><a href="http://bbs.itcast.cn/thread-15273-1-1.html" target="_blank">Unity3D游戏开发入门视频教程</a></li>
<li><a href="http://bbs.itcast.cn/thread-11228-1-1.html" target="_blank">人事管理系统开发视频教程</a></li>
<li><a href="http://bbs.itcast.cn/thread-19987-1-1.html" target="_blank">&quot;工作流&quot;开发视频教程</a></li>
<li><a href="http://net.itcast.cn/subject/arrogant/index.shtml" target="_blank">毕业设计完整源码+文档下载</a></li>
</ul>

			</ul>
			<div class="rightbottom"><img src="__PUBLIC__/images/rightbottom.jpg"/></div>
	  </div>
	</div>
	<div class="clear"></div>
	<include file="bbs/Home/View/footer.html"/>
