<include file="bbs/Home/View/header.html"/>
<div id="box">
	<div id="left" class="fl"  style="margin-top:3px;">
			   
			<div><img src="__PUBLIC__/images/lefttop.gif"  /></div>
			<div class="jyjb">
    <div class="jyjb-11">
    <ul>
    <li class="fl jyjb-11-font1" style="height:96px;">
        <a href="http://php.itcast.cn/news/20130705/15012588541.shtml"><img alt="传智播客php培训学院就业学生" src="http://www.itcast.cn/files/image/201307/20130705160801929.jpg" style="width: 131px; height: 93px; " /></a></li>
    <li class="fl jyjb-11-font1"><span style="color:#000000;"><b>传智播客，<br />
    技术加油站，<br />
    为梦想助跑！</b></span><br />
    <span class="jyjb-font2"><a href="http://php.itcast.cn/news/20130705/15012588541.shtml">[播放]</a></span>
    </li>
    </ul>
    </div>
<div class="jyjb-11">
<ul>
<li class="fl jyjb-11-font1" style="height:96px;"><a href="http://php.itcast.cn/news/32873131/ac00/4dff/8218/e709d252ea53.shtml"><img alt="传智播客php培训学院就业学生" src="http://php.itcast.cn/files/image/201301/20130122142135792.jpg" style="width: 130px; height: 93px;" /></a></li>
<li class="fl jyjb-11-font1" style="height:100px;"><span style="color:#000000;"><b>销售总监月薪15k，<br />
学PHP，<br />
我选传智！</b></span><br />
<span class="jyjb-font2"><a href="http://php.itcast.cn/news/32873131/ac00/4dff/8218/e709d252ea53.shtml">[播放]</a></span></li>
</ul>
</div>
<div class="jyjb-11">
<ul>
<li class="fl jyjb-11-font1" style="height:96px;"><a href="http://php.itcast.cn/news/20130122/14000221632.shtml"><img alt="传智播客php培训学院就业学生" src="http://www.itcast.cn/files/image/201309/20130925174026610.jpg" style="width: 131px; height: 93px; " /></a></li>
<li class="fl jyjb-11-font1" style="height:100px;"><span style="color:#000000;"><b>为前途，<br />
来传智播客学PHP<br />
<span class="jyjb-font2"><a href="http://php.itcast.cn/news/20130122/14000221632.shtml">[播放]</a></span></b></span></li>
</ul>
</div>
<br />
<div class="clear"></div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th class="zhanshi" style="color:red;margin-bottom:0;border-bottom:0;font-size:12px;background-color:#ecf6fd;">
		传智播客所有就业信息皆真实可靠，可联络就业学员验证；应企业和学员要求，企业名称和部分学员信息未呈现。</th>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>12月20日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201408/20140811153535947.jpg" style="width: 628px; height: 266px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="10%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="30%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<volist name="list" id='vo'>
	<tr>
	<td>{$vo.student_name}</td>
	<td>{$vo.school_name}</td>
	<td>{$vo.job_time}</td>
	<td>{$vo.job_company}</td>
	<td class="STYLE6">起薪{$vo.work_money}</td>
	</tr>
        </volist>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>11月16日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201406/20140610171624412.jpg" style="width: 628px; height: 266px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="10%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="30%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>丁&nbsp;&nbsp;＊</td>
	<td>防＊科技学院</td>
	<td>2014.03.25</td>
	<td>神＊科技股份有限公司</td>
	<td class="STYLE6">起薪7000.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>10月16日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201404/20140409165602280.jpg" style="width: 628px; height: 266px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="10%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="30%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>曹＊＊</td>
	<td>西＊大学</td>
	<td>2014.02.27</td>
	<td>北京盛＊传越科技有限公司</td>
	<td class="STYLE6">起薪5500.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>09月13日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201403/20140313120959331.jpg" style="width: 628px; height: 300px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="10%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="30%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>曹＊＊</td>
	<td>山东＊职业技术学院</td>
	<td>2014.02.07</td>
	<td>＊互动</td>
	<td class="STYLE6">起薪5000.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>08月08日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201403/20140313113913065.jpg" style="width: 628px; height: 300px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="10%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="30%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>包&nbsp;&nbsp;＊</td>
	<td>北京吉＊大学</td>
	<td>2013.12.16</td>
	<td>乐＊(中国)超市连锁有限公司</td>
	<td class="STYLE6">起薪5500.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>07月09日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201403/20140313104344431.jpg" style="width: 628px; height: 300px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="10%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="30%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
        <tr>
	<td>包&nbsp;&nbsp;＊</td>
	<td>北京吉＊大学</td>
	<td>2013.12.16</td>
	<td>乐＊(中国)超市连锁有限公司</td>
	<td class="STYLE6">起薪5500.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>06月07日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201402/20140219180118705.jpg" style="width: 628px; height: 300px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="10%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="30%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>史＊＊</td>
	<td>常州信＊职业技术学院</td>
	<td>2013.10.08</td>
	<td>北京铭＊智达科技有限公司</td>
	<td class="STYLE6">起薪7000.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>05月07日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201401/20140114112752899.JPG" style="width: 628px; height: 300px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="10%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="30%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>曹&nbsp;&nbsp;＊</td>
	<td>安徽＊职业技术学院</td>
	<td>2013.09.26</td>
	<td>香港乐＊集团有限公司</td>
	<td class="STYLE6">起薪7000.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>03月31日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201311/20131121170650469.jpg" style="width: 628px; height: 300px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="10%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="30%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>赵&nbsp;&nbsp;＊</td>
	<td>山东外＊职业学院</td>
	<td>2014.01.09</td>
	<td>铂＊乐传播机构</td>
	<td class="STYLE6">5000.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>02月28日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201308/20130805114421849.JPG" style="width: 628px; height: 300px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="15%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="35%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="10%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>韩&nbsp;&nbsp;＊</td>
	<td>沈＊万龙高中</td>
	<td>2013.11.15</td>
	<td>北京吉＊德商科技有限公司</td>
	<td class="STYLE6">4500.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>1月15日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201306/20130618120533395.jpg" style="width: 628px; height: 240px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="15%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="35%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="10%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>左＊＊</td>
	<td>河北＊技术高等专科学校</td>
	<td>2013.07.30</td>
	<td>北京软＊科技有限公司</td>
	<td class="STYLE6">4000.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>12月6日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201304/20130430110047464.jpg" style="width: 628px; height: 221px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="15%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="35%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="10%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>刘＊＊</td>
	<td>12月6日PHP高薪就业班</td>
	<td>2013.10.10</td>
	<td><font size="2">通＊信科有限公司</font></td>
	<td class="STYLE6">5600.00</td>
	</tr>
	<tr></tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>10月25日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201303/20130304163756665.jpg" style="width: 628px;height: 221px; " /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="15%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="35%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="10%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>李&nbsp;&nbsp;＊</td>
	<td>河＊师范大学</td>
	<td>2013.06.08</td>
	<td>爵＊网络公司</td>
	<td class="STYLE6">4000.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>9月11日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://php.itcast.cn/files/image/201301/20130128102704955.jpg" style="width: 628px;height: 221px; " /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="15%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="35%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="10%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>何&nbsp;&nbsp;＊</td>
	<td>9月11日PHP高薪就业班</td>
	<td>2013.04.12</td>
	<td>＊学堂教育科技有限公司</td>
	<td class="STYLE6">3250.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>8月14日PHP就业班部分学员就业喜报</h4>
<div><img alt="8月14日PHP就业班部分学员就业喜报" src="http://www.itcast.cn/files/image/201212/20121228100327406.jpg" style="width: 

628px;height: 221px; " /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="15%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="35%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="10%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>杨＊＊</td>
	<td>淄博＊学院</td>
	<td>2013.01.27</td>
	<td>联＊信安</td>
	<td class="STYLE6">4500.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>7月24日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201211/20121123091653915.jpg" style="width: 628px;height: 221px; " /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="15%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="35%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="10%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>白&nbsp;&nbsp;＊</td>
	<td>7月24日PHP高薪就业班</td>
	<td>2012.01.12</td>
	<td>循＊公司</td>
	<td class="STYLE6">4000.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>6月20日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201210/20121023153006897.jpg" /><br />
<span style="color:#ff0000;">620就业班开学没有合影，这里是运动会学员合影</span></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="15%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="35%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="10%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>周&nbsp;&nbsp;＊</td>
	<td>河南省驻马店市＊学院</td>
	<td>2012.11.23</td>
	<td>华＊中盛（硬件工程师)</td>
	<td class="STYLE6">4000.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>5月16日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201209/20120907104544050.jpg" style="width: 628px; height: 221px" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="15%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="29%">
		就业班级</th>
	<th bgcolor="#ecf6fd" width="20%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="16%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>高&nbsp;&nbsp;＊</td>
	<td>5月16日PHP高薪就业班</td>
	<td>2012.10.18</td>
	<td>故＊网站</td>
	<td class="STYLE6">4000.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>4月10日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201207/20120724105702155.jpg" style="width: 628px; height: 221px" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="15%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="29%">
		就业班级</th>
	<th bgcolor="#ecf6fd" width="20%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="16%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>邬同学</td>
	<td>4月10日PHP高薪就业班</td>
	<td>2012.08.30</td>
	<td>百＊公司</td>
	<td class="STYLE6">6500.00</td>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>3月13日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201206/20120617134326329.jpg" style="width: 628px; height: 221px" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="15%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="29%">
		就业班级</th>
	<th bgcolor="#ecf6fd" width="20%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="16%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>冯*飞</td>
	<td>3月13日PHP高薪就业班</td>
	<td>2012.07.12</td>
	<td>盛*科技</td>
	<td class="STYLE6">5500.00</td>
	</tr>
</tbody>
</table>
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>2月8日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/images/php/PHP2012-2-8.png" width="628" /></div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="15%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="29%">
		就业班级</th>
	<th bgcolor="#ecf6fd" width="20%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="16%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>帕提古丽</td>
	<td>2月8日PHP高薪就业班</td>
	<td>2012.05.29</td>
	<td>罗林广告</td>
	<td class="STYLE6">4500.00</td>
	</tr>
</tbody>
</table>
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>10月26日PHP高薪就业班就业班部分学员就业喜报</h4>
<div><img alt="" src="http://php.itcast.cn/images/php/PHP2011-10-26.png" width="628" /></div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="15%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="29%">
		就业班级</th>
	<th bgcolor="#ecf6fd" width="20%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="16%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<tr>
	<td>赖兴强</td>
	<td>10月26日PHP高薪就业班</td>
	<td>2012.03.01</td>
	<td>脉讯科技</td>
	<td class="STYLE6">5000.00</td>
	</tr>
</tbody>
</table>
<br />
<br />
	   </div>	
		</div>		
		<div id="right" class="fl">			
			<h4 class="righttitle1 zhaopin"><span class="blue">最新</span>企业招聘</h4>
			<div class="rightkuang1">
			<p class="cent"> <img src="__PUBLIC__/images/select.jpg"  width="256" height="66" /></p>
                  <table border="0" cellpadding="0" cellspacing="0" class="zhaopinlist" height="124" style="margin-top: 5px" width="98%">
<tbody>
	<tr>
	<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16233788127.shtml" target="_blank">上海北岸信息生物谷招聘</a></td>
	<td width="11%">若干</td>
	<td width="16%">11.28</td>
	</tr>
	<tr>
	<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16302725269.shtml" target="_blank">TCL数码科技有限公司招聘</a></td>
	<td width="11%">若干</td>
	<td width="16%">11.28</td>
	</tr>
	<tr>
	<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16292068856.shtml" target="_blank">博雅软件集团有限公司招聘</a></td>
	<td width="11%">若干</td>
	<td width="16%">11.28</td>
	</tr>
	<tr>
	<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16242833345.shtml" target="_blank">北京南天信息有限公司招聘</a></td>
	<td width="11%">若干</td>
	<td width="16%">11.28</td>
	</tr>
	<tr>
	<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16223017278.shtml" target="_blank">北京十方元基科技公司招聘</a></td>
	<td width="11%">若干</td>
	<td width="16%">11.28</td>
	</tr>
	<tr>
	<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16213222025.shtml" target="_blank">北京天舟通信有限公司招聘</a></td>
	<td width="11%">若干</td>
	<td width="16%">11.28</td>
	</tr>
	<tr></tr>
	<tr>
	<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16183668306.shtml" target="_blank">北京新玛互动传媒公司招聘</a></td>
	<td width="11%">若干</td>
	<td width="16%">11.28</td>
	</tr>
	<tr></tr>
	<tr>
	<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/1617416903.shtml" target="_blank">北京缔凡思信息技术公司招聘</a></td>
	<td width="11%">若干</td>
	<td width="16%">11.21</td>
	</tr>
	<tr>
	<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16165624603.shtml" target="_blank">北京韩购街贸易有限公司招聘</a></td>
	<td width="11%">若干</td>
	<td width="16%">11.21</td>
	</tr>
	<tr>
	<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16155357521.shtml" target="_blank">北京花生米数字科技公司招聘</a></td>
	<td width="11%">若干</td>
	<td width="16%">11.21</td>
	</tr>
	<tr>
	<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16145632220.shtml" target="_blank">集慧智佳知识产权管理招聘</a></td>
	<td width="11%">若干</td>
	<td width="16%">11.21</td>
	</tr>
	<tr>
	<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16135856735.shtml" target="_blank">北京金万维科技有限公司招聘</a></td>
	<td width="11%">若干</td>
	<td width="16%">11.21</td>
	</tr>
	<tr>
	<td class="td1" width="73%"><a href="http://www.itcast.cn/news/list/20c133c0-6635-421c-acae-6125b0702b34/1.shtml" target="_blank"><span style="color:#ff0000;">更多企业招聘信息请点击&hellip;&hellip;</span></a></td>
	<td width="11%"><a href="http://www.itcast.cn/news/list/20c133c0-6635-421c-acae-6125b0702b34/1.shtml" target="_blank"><span style="color:#ff0000;">查看</span></a></td>
	<td width="16%"><a href="http://www.itcast.cn/news/list/20c133c0-6635-421c-acae-6125b0702b34/1.shtml" target="_blank"><span style="color:#ff0000;">更多</span></a></td>
	</tr>
	<tr></tr>
</tbody>
</table>

 <div class="clear"></div>
			</div>
			<div class="rightbottom"><img src="__PUBLIC__/images/bottom1.gif"/></div>
			<h4 class="righttitle1" style="margin-top:5px;"><span class="fl">PHP培训开班信息</span></h4>
			
			<div class="jyjb-left" >
			<ul>
<li style="border-bottom: medium none; float: left; color: #515151"><a href="http://php.itcast.cn/php/course/base.shtml"><b><font style="color: #515151">PHP基础班</font></b></a></li>
<br />
</ul>
<ul style="clear: both">
<li><a href="http://php.itcast.cn/php/course/base.shtml" target="_blank"><span class="time jyjb-font2"><b>预约报名</b></span>北京--第34期(2015年01月10号)</a></li>
<li><a href="http://php.itcast.cn/php/course/base.shtml" target="_blank"><span class="time jyjb-font1"><b>爆满已开班</b></span>北京--第33期(2014年11月27号)</a></li>
<li><a href="http://php.itcast.cn/php/course/base.shtml" target="_blank"><span class="time jyjb-font2"><b>预约报名</b></span>广州--第08期(2014年12月25号)</a></li>
</ul>
<ul>
<li style="border-bottom: medium none; float: left; color: #515151"><a href="http://php.itcast.cn/php/course/php.shtml"><b><font style="color: #515151">PHP就业班</font></b></a></li>
<br />
</ul>
<ul style="clear: both">
<li><a href="http://php.itcast.cn/php/course/php.shtml" target="_blank"><span class="time jyjb-font2"><b>预约报名</b></span>北京--第34期(2015年01月05号)</a></li>
<li><a href="http://php.itcast.cn/php/course/php.shtml" target="_blank"><span class="time jyjb-font1"><b>爆满已开班</b></span>北京--第33期(2014年11月21号)</a></li>
<li><a href="http://php.itcast.cn/php/course/php.shtml" target="_blank"><span class="time jyjb-font2"><b>预约报名</b></span>广州--第07期(2014年12月18号)</a></li>
</ul>
<ul>
<li style="border-bottom: medium none; float: left; color: #515151"><a href="http://php.itcast.cn/news/981030b0/96d5/4005/9ae4/eba8bac4195a.shtml"><b><font style="color: #515151">PHP远程班</font></b></a></li>
<br />
</ul>
<ul style="clear: both">
<li><a href="http://php.itcast.cn/news/981030b0/96d5/4005/9ae4/eba8bac4195a.shtml" target="_blank"><span class="time jyjb-font2"><b>预约报名</b></span>基础班--第34期(2015年01月10号)</a></li>
<li><a href="http://php.itcast.cn/news/981030b0/96d5/4005/9ae4/eba8bac4195a.shtml" target="_blank"><span class="time jyjb-font1"><b>爆满已开班</b></span>基础班--第33期(2014年11月27号)</a></li>
<li><a href="http://php.itcast.cn/news/981030b0/96d5/4005/9ae4/eba8bac4195a.shtml" target="_blank"><span class="time jyjb-font2"><b>预约报名</b></span>就业班--第34期(2015年01月05号)</a></li>
<li><a href="http://php.itcast.cn/news/981030b0/96d5/4005/9ae4/eba8bac4195a.shtml" target="_blank"><span class="time jyjb-font1"><b>爆满已开班</b></span>就业班--第33期(2014年11月21号)</a></li>
</ul>
</div>
			<div class="rightbottom"><img src="__PUBLIC__/images/rightbottom.jpg"/></div>
			<h4 class="righttitle1 lianxi"><span class="fl"><span class="blue">课程</span>咨询</span></h4>
			<div class="rightkuang">
		<dl>
	<dt style="padding-bottom:20px;">
		北京传智播客</dt>
	<dd style="width:120px;height:40px;float:left;">
		<a href="http://cnrdn.com/iP66" target="_blank"><img alt="北京传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
	<dd style="width:120px;height:40px;float:left;">
		<a href="http://cnrdn.com/iP66" target="_blank"><img alt="北京传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqtwo">
	<dt style="padding-bottom:20px;">
		广州传智播客</dt>
	<dd style=" width:120px;height:40px;float:left;">
		<a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDA2ODg2OF8yMDczMV84MDAwNjg4NjhfMl8" target="_blank"><img alt="广州传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
	<dd style=" width:120px;height:40px;float:left;">
		<a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDA2ODg2OF8yMDczMV84MDAwNjg4NjhfMl8" target="_blank"><img alt="广州传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqthree">
	<dt style="padding-bottom:20px;">
		上海传智播客</dt>
	<dd style="width:120px;height:40px;float:left;">
		<a href="http://cnrdn.com/djUD" target="_blank"><img alt="上海传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
	<dd style="width:120px;height:40px;float:left;">
		<a href="http://cnrdn.com/djUD" target="_blank"><img alt="上海传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqfour">
	<dt style="padding-bottom:20px;">
		武汉传智播客</dt>
	<dd style="width:120px;height:40px;float:left;">
		<a href="http://cnrdn.com/P4EE" target="_blank"><img alt="武汉传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
	<dd style="width:120px;height:40px;float:left;">
		<a href="http://cnrdn.com/P4EE" target="_blank"><img alt="武汉传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqfive">
	<dt style="padding-bottom:20px;">
		郑州传智播客</dt>
	<dd style="width:120px;height:40px;float:left;">
		<a href="http://cnrdn.com/0LVE" target="_blank"><img alt="武汉传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
	<dd style="width:120px;height:40px;float:left;">
		<a href="http://cnrdn.com/0LVE" target="_blank"><img alt="武汉传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqsix">
	<dt style="padding-bottom:20px;">
		西安传智播客</dt>
	<dd style="width:120px;height:40px;float:left;">
		<a href="http://cnrdn.com/iP66" target="_blank"><img alt="西安传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
	<dd style="width:120px;height:40px;float:left;">
		<a href="http://cnrdn.com/iP66" target="_blank"><img alt="西安传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
			<div class="clear"></div>		
			</div>
			<div class="rightbottom"><img src="__PUBLIC__/images/rightbottom.jpg"/></div>
	  </div>
	</div>		
	<div class="clear"></div>
    <!-- 页面底部 -->
<include file="./public/footer.html" />